<launch>

    <node pkg="rtls_uwb_sensor" type="display" name="suav_1_uwb_node" output="log" >
       <remap from="/uwb/data" to="/suav_1/uwb/data" />
    </node>

    <node pkg="range_localization" type="range_node" name="suav_1_range_node" output="screen" >
        <rosparam command="load" file="$(find range_localization)/config/uav.yaml" />
        <param name="vehicle_name"  value="suav_1" />
        <param name="imu_topic" value="/suav_1/imu/data" />
        <param name="range_topic"  value="/suav_1/uwb/data" />
        <param name="pressure_topic"  value="/suav_1/dji_osdk_ros/height_above_takeoff" />
        <param name="height_topic"  value="/suav_1/dji_osdk_ros/height_above_takeoff" />
        <rosparam param="init_position" >[0.0, 0.0, 0.50]</rosparam>
    </node>
        
    <!-- <node pkg="rosbag" type="record" name="suav_1_bag_record" args="/suav_1/uwb/data /suav_1/imu/data /suav_1/filter/odom /suav_1/dji_osdk_ros/height_above_takeoff /suav_1/dji_osdk_ros/vo_position /suav_1/dji_osdk_ros/imu -o /home/$(env USER)/suav_1.bag"/> -->
</launch>

